html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1e1e1e;
  font-family: 'Microsoft YaHei',Arial, Helvetica, sans-serif;
  color: #eee;
}

::-webkit-scrollbar { /* 1 */
  width: 8px;
  height: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-button { /* 2 */
}

::-webkit-scrollbar-track { /* 3 */
}

::-webkit-scrollbar-track-piece { /* 4 */
}

::-webkit-scrollbar-thumb { /* 5 */
  background-color: rgba(0,204,106,1);
  border-radius: 4px;
}

::-webkit-scrollbar-corner { /* 6 */
}

::-webkit-resizer { /* 7 */
}
